
{% load static %}

<div id="answer-{{ answer.id }}" class="answer" style="height: auto">
    <div class="row">
        <div class="col-3">
            <div class="question-avatar">
                <img src="{{ answer.author.avatar.url }}" alt="avatar">
            </div>
            {% include "layouts/valuation_for_answer.html" %}

        </div>
        <div class="col-8">
            <div style="min-height: 140px">
                {{ answer.text }}
            </div>
            <div class="row">
                <label>
                    <input class="correct" type="checkbox" name="correct" value="true" {% if answer.correct %}
                           checked {% endif %}>
                    Correct
                </label>
            </div>
        </div>
    </div>
</div>