
{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <script src="{% static '/js/color-modes.js' %}"></script>
    <title>Askme</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer-navbar/">
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static '/css/additional.css' %}" rel="stylesheet">
    <link href="{% static '/css/my.css' %}" rel="stylesheet">

</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid" style="height: 85px">
            <a style="width: 20%; justify-content: center; display: flex;" class="navbar-brand"
               href="{% url 'index' %}"><h1>Askme</h1></a>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="height: 100%">
                <form class="d-flex" role="search" style="width: 90%; height: 50%">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           style="width: 80%; font-size: 20px">
                    <button class="btn btn-outline-success" type="submit" style="width: 20%">Search</button>
                </form>
            </div>
            <div id="info-user">
                {% block info-user %} {% endblock %}
            </div>
            <a href="{% url 'ask' %}">
                <button class="btn btn-outline-success" style="margin-right: 50px">Ask</button>
            </a>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="max-width: 90%; margin-right: 0; margin-left:10%">
        <div style="margin-top: 75px; margin-bottom: 20px">
            {% block first-row %} {% endblock %}
        </div>
        <div class="row">

            <!--Questions-->
            <div class="col-9">
                {% block content %} {% endblock %}
            </div>

            <!-- Tags-->
            <div class="col-3">
                <h3 style="justify-content: center; display: flex">Popular tags</h3>
                <div class="tags-question">
                    {% for tag in tags %}
                        <a href="{% url 'tag' tag %}">{{ tag }}</a>
                    {% endfor %}
                </div>
                <h3 style="justify-content: center; display: flex; margin-top: 20px">Best members</h3>
                {% for member in members %}
                     <a class="members" href="{% url 'best' member.id %}">{{ member.user.first_name }} {{ member.user.last_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<script src="{% static '/js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>

</body>
</html>
