{% extends 'layouts/base.html' %}
{% load static %}

{% block info-user %}
    {% if user_data %}
        {% include "layouts/is_authorized_user.html" %}
    {% else %}
        {% include "layouts/not_authorized_user.html" %}
    {% endif %}
{% endblock %}

{% block first-row %}
  <h3 class="mt-5" style="display: inline; margin-right: 30px">New questions</h3>
  <h3 style="display: inline;"><a href="#" style="text-decoration: none">Hot questions</a></h3>
{% endblock %}

{% block content %}
    {% for question in page_obj %}
        {% include 'layouts/question-item.html' %}
    {% endfor %}

    {% include 'layouts/paginator.html' %}

{% endblock %}