<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <script src="../static/js/color-modes.js"></script>
    <title>Question</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer-navbar/">
    <link href="../static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="../static/css/additional.css" rel="stylesheet">
    <link href="../static/css/my.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid" style="height: 85px">
            <a style="width: 20%; justify-content: center; display: flex;" class="navbar-brand" href="#"><h1>Askme</h1>
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="height: 100%">
                <form class="d-flex" role="search" style="width: 90%; height: 50%">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           style="width: 80%; font-size: 20px">
                    <button class="btn btn-outline-success" type="submit" style="width: 20%">Ask</button>
                </form>
            </div>
            <div id="info-user">
                <img id="avatar-info-user" src="../static/img/user1.jpeg" alt="avatar">
                <div class="navbar-brand">
                    Mr. Kardash
                </div>
                <div class="navbar-brand">
                    <a href="#">settings</a><a href="#">log out</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="max-width: 90%; margin-right: 0; margin-left:10%">
        <div style="margin-top: 75px; margin-bottom: 20px">
        </div>
        <div class="row">

            <!--Question from-->
            <div class="col-9">

                <!--Question-->
                <div class="question" style="border: 2px; height: auto">
                    <div class="row">
                        <div class="col-3">
                            <div class="question-avatar">
                                <img src="../static/img/user1.jpeg" alt="avatar">
                            </div>
                            <div class="div-like">
                                <button class="button-like"><img src="../static/img/like.svg"></button>
                                <span>5</span>
                            </div>
                        </div>
                        <div class="col-8">
                            <h2>Question</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla.
                                Habitasse platea dictumst quisque sagittis purus sit amet volutpat.
                            </div>
                            <div>
                                Tags:
                                <span class="badge bg-warning">perl</span>
                                <span class="badge bg-info">C++</span>
                                <span class="badge bg-primary">Python</span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <!--Answers -->
                <div class="answer">
                    <div class="row">
                        <div class="col-3">
                            <div class="question-avatar">
                                <img src="../static/img/user2.jpeg" alt="avatar">
                            </div>
                            <div class="div-like">
                                <button><img src="../static/img/arrow.png" style="width: 10px; height: 10px;" alt="">
                                </button>
                                <button class="button-like"><img src="../static/img/like.svg"></button>
                                <span>10</span>
                                <button><img src="../static/img/arrow.png"
                                             style="width: 10px; height: 10px; rotate: 180deg;" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="answer-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla.
                                Habitasse platea dictumst quisque sagittis purus sit amet volutpat.
                            </div>
                            <div class="row">
                                <p><input class="correct" type="checkbox" name="correct" value="true">Correct</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="answer">
                    <div class="row">
                        <div class="col-3">
                            <div class="question-avatar">
                                <img src="../static/img/user2.jpeg" alt="avatar">
                            </div>
                            <div class="div-like">
                                <button><img src="../static/img/arrow.png" style="width: 10px; height: 10px;" alt="">
                                </button>
                                <button class="button-like"><img src="../static/img/like.svg"></button>
                                <span>5</span>
                                <button><img src="../static/img/arrow.png"
                                             style="width: 10px; height: 10px; rotate: 180deg;" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="answer-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla.
                                Habitasse platea dictumst quisque sagittis purus sit amet volutpat.
                            </div>
                            <div class="row">
                                <p><input class="correct" type="checkbox" name="correct" value="true">Correct</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="answer">
                    <div class="row">
                        <div class="col-3">
                            <div class="question-avatar">
                                <img src="../static/img/user3.png" alt="avatar">
                            </div>
                            <div class="div-like">
                                <button><img src="../static/img/arrow.png" style="width: 10px; height: 10px;" alt="">
                                </button>
                                <button class="button-like"><img src="../static/img/like.svg"></button>
                                <span>2</span>
                                <button><img src="../static/img/arrow.png"
                                             style="width: 10px; height: 10px; rotate: 180deg;" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="answer-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla.
                                Habitasse platea dictumst quisque sagittis purus sit amet volutpat.
                            </div>
                            <div class="row">
                                <p><input class="correct" type="checkbox" name="correct" value="true">Correct</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- add answer-->
                <hr class="my-4">
                <form method="post" action="#" style="margin-bottom: 10px">
                    <textarea class="form-control me-2 question-text" type="search" rows="8" name="answer"
                              style="resize: none; width: 100%" placeholder="Enter your answer here..."></textarea>
                    <button class="btn btn-outline-success" type="submit">Answer</button>
                </form>
            </div>

            <!-- Tags-->
            <div class="col-3">
                <h3 style="justify-content: center; display: flex">Popular tags</h3>
                <div class="tags-question">
                    <span class="badge bg-primary">Python</span>
                    <span class="badge bg-secondary">CSS</span>
                    <span class="badge bg-success">SQL</span>
                    <span class="badge bg-danger">Django</span>
                    <span class="badge bg-dark">VK</span>
                    <span class="badge bg-warning">perl</span>
                    <span class="badge bg-info">C++</span>
                </div>
                <h3 style="justify-content: center; display: flex; margin-top: 20px">Best members</h3>
                <a class="members" href="#">Mr. Freeman</a>
                <a class="members" href="#">Dr. House</a>
                <a class="members" href="#">Bender</a>
                <a class="members" href="#">Queen Victoria</a>
                <a class="members" href="#">V. Pupkin</a>
            </div>
        </div>


    </div>
</main>


<script src="../static/js/bootstrap.bundle.js" crossorigin="anonymous"></script>


</body>
</html>
