{% load static %}

<div class="question">
    <div class="row">
        <div class="col-3">
            <div class="question-avatar">
                <img src="{% static question.author.avatar %}" alt="avatar">
            </div>
            <div class="div-like">
                <button><img src="{% static 'img/arrow.png' %}" style="width: 10px; height: 10px;" alt="">
                </button>
                <button class="button-like"><img src="{% static 'img/like.svg' %}"></button>
                <span>{{ question.num_likes }}</span>
                <button><img src="{% static 'img/arrow.png' %}"
                             style="width: 10px; height: 10px; rotate: 180deg;" alt="">
                </button>
            </div>
        </div>
        <div class="col-8">
            <h2><a href="{% url 'question' question.id %}">{{ question.title }}</a></h2>
            <div class="question-text">
                {{ question.text }}
            </div>
            <div class="row">
                <div class="col-4">
                     <a href="{% url 'question' question.id %}">Answer ({{ question.num_answers }})</a>
                </div>
                <div class="col-8">
                    Tags:
                    {% for tag in question.tags %} <a href = "{% url 'tag' tag %}">{{ tag }}</a> {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
